[Unit]
Description=FastAPI application

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/fountainai-fastapi-proxy
ExecStart=/home/ubuntu/fountainai-fastapi-proxy/venv/bin/uvicorn main:app --host 127.0.0.1 --port 8000
Restart=always

[Install]
WantedBy=multi-user.target
